{% extends "layout.html" %}

{% block title %}
TWEET APP
{% endblock %}

{% block content %}
    <h1 class = "text-center text-white mt-4">Welcome to the TWEET APP</h1>

    <h2>
        {% if form.instance.pk  %} 
        Edit Tweet
        {% else %} 
        Create Tweet 
        {% endif %}

        <form method="post" enctype = "multipart/form-data" class = "form">
            {% csrf_token %}
            {{ form.as_p }}
            <button class = "btn btn-warning" type="submit">Publish Tweet</button>
        </form>
       <a href="{% url 'tweet_list' %}">Back to Tweets</a> 
    </h2>
{% endblock %}